*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: blanchedalmond;
}
.gameContainer{
    display: flex;
    justify-content: center;
}
#game{
    background-image: url("https://media4.giphy.com/media/2dMR27Z7ipMkM/200.gif");
    width: 500px;
    height: 200px;
    border: solid rgb(174, 0, 255);
        margin-top: 20px;    
        
}
#character{
    width: 30px;
    height: 50px;
    background-color: orange ;
    background-image: url("https://i.gifer.com/origin/db/db25d10284630f0e3df58e3fa8ede442_w200.gif");
    background-size: 30px;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    /* animation: jump 500ms infinite; */
}

.animate{
    animation: jump 500ms infinite;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;} 
} 
#block{
    width: 30px;
    height: 20px;
    /* background-color: lime; */
    background-image: url("https://c.tenor.com/8WMsYmLb2l8AAAAM/scary-angry.gif");
    background-size: 30px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{left:480px;}
    100%{left:-40px;}
    
}

#btnJump{
    border: solid purple;
    border-radius: 50%;
    background-color: yellowgreen;
    padding: 5px 100px 5px 100px;
    margin-top: 5%;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

#btnJump:hover{
    background-color: yellow;
    box-shadow: 2px;
}

#btnReset{
    border: solid red;
    border-radius: 50%;
    background-color: goldenrod;
    padding: 5px 50px 5px 50px;
    margin-top: 5%;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

#btnReset:hover{
    background-color: skyblue;
    box-shadow: 2px gray;     
}
